In [1]:
import pandas as pd

# Estimaciones y proyecciones 2002-2035, comuna y área urbana y rural
## Convertir a formato parquet
* Archivo incluye nombres de comunas en primera fila
* Archivo fuente está en formato ISO-8859-1 y no UTF-8.  Esto puede generar problemas con los caracteres especiales si no se especifica el formato de codificación

In [3]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './estimaciones-y-proyecciones-2002-2035-comuna-y-área-urbana-y-rural.csv',
    sep=';',
    encoding='ISO-8859-1',
    low_memory=False
)

df.to_parquet('./estimaciones-y-proyecciones-2002-2035-comuna-y-área-urbana-y-rural.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, comunas

In [7]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_comunas0381d25bc2224f51b9770a705a434b74.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_comunas.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, región y área urbana y rural

In [10]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_reg_área_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_reg_área_base.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, región

In [19]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_region_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_region_base.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, país y área urbana y rural

In [17]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_país_área_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_país_área_base.parquet', compression='snappy')

# Estimaciones y proyecciones 1992-2050, país

In [21]:
# Read CSV file with ISO-8859-1 encoding directly
df = pd.read_csv(
    './ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos.csv',
    sep=';',
    encoding='ISO-8859-1',
    skiprows=1,  # Skip the first line
    low_memory=False
)

df.to_parquet('./ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos.parquet', compression='snappy')

In [20]:
df

,Region,Sexo,Edad,a2002,a2003,a2004,a2005,a2006,a2007,a2008,...,a2026,a2027,a2028,a2029,a2030,a2031,a2032,a2033,a2034,a2035
0,1,1,0,2345,2362,2442,2462,2457,2559,2672,...,3061,3052,3043,3034,3022,3038,3036,3032,3029,3025
1,1,1,1,2357,2344,2363,2443,2463,2459,2562,...,3067,3061,3052,3043,3034,3022,3038,3036,3033,3030
2,1,1,2,2358,2358,2346,2365,2446,2467,2462,...,3073,3065,3059,3050,3041,3032,3020,3036,3034,3031
3,1,1,3,2368,2359,2360,2347,2366,2448,2468,...,3069,3067,3060,3055,3046,3037,3028,3016,3032,3030
4,1,1,4,2368,2369,2361,2360,2347,2367,2447,...,3059,3063,3061,3054,3049,3040,3030,3021,3009,3025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227,16,2,96,32,30,34,36,37,39,45,...,206,217,225,233,252,264,287,312,338,372
3228,16,2,97,24,24,23,26,28,29,31,...,161,173,183,190,198,216,226,248,271,294
3229,16,2,98,17,18,18,17,20,21,22,...,122,132,143,153,159,166,183,192,212,233
3230,16,2,99,10,12,13,13,13,15,16,...,87,98,107,117,126,131,138,153,162,180
3231,16,2,100,25,25,28,31,33,35,38,...,198,221,248,277,309,341,371,402,439,476