In [1]:
import pandas as pd

# Estimaciones y proyecciones 2002-2035, comuna y área urbana y rural
## Convertir a formato parquet
* Archivo incluye nombres de comunas en primera fila
* Archivo fuente está en formato ISO-8859-1 y no UTF-8.  Esto puede generar problemas con los caracteres especiales si no se especifica el formato de codificación

In [27]:
# Read CSV file with ISO-8859-1 encoding directly
df_comuna_area = pd.read_csv(
    './estimaciones-y-proyecciones-2002-2035-comuna-y-área-urbana-y-rural.csv',
    sep=';',
    encoding='ISO-8859-1',
    low_memory=False
)

df_comuna_area.to_parquet('./estimaciones-y-proyecciones-2002-2035-comuna-y-área-urbana-y-rural.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, comunas

In [28]:
# Read CSV file with ISO-8859-1 encoding directly
df_comuna = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_comunas0381d25bc2224f51b9770a705a434b74.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df_comuna.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_comunas.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, región y área urbana y rural

In [29]:
# Read CSV file with ISO-8859-1 encoding directly
df_region_area = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_reg_área_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df_region_area.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_reg_área_base.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, región

In [30]:
# Read CSV file with ISO-8859-1 encoding directly
df_region = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_region_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df_region.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_region_base.parquet', compression='snappy')

# Estimaciones y proyecciones 2002-2035, país y área urbana y rural

In [31]:
# Read CSV file with ISO-8859-1 encoding directly
df_pais_area = pd.read_csv(
    './ine_estimaciones-y-proyecciones-2002-2035_base-2017_país_área_base.csv',
    sep=',',
    encoding='ISO-8859-1',
    low_memory=False
)

df_pais_area.to_parquet('./ine_estimaciones-y-proyecciones-2002-2035_base-2017_país_área_base.parquet', compression='snappy')

# Estimaciones y proyecciones 1992-2050, país

In [32]:
# Read CSV file with ISO-8859-1 encoding directly
df_pais = pd.read_csv(
    './ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos.csv',
    sep=';',
    encoding='ISO-8859-1',
    skiprows=1,  # Skip the first line
    low_memory=False
)

df_pais.to_parquet('./ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos.parquet', compression='snappy')

In [63]:
# Creating a list of valid column names
# El archivo fuente incluye una serie de columnas vacías, por lo que definimos los nombres de las columnas válidas
valid_columns = ['EDAD'] + [str(year) for year in range(1992, 2051)]

# Reading the CSV file with specified columns and ISO-8859-1 encoding directly
df_pais = pd.read_csv(
    './ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos.csv',
    sep=';',
    encoding='ISO-8859-1',
    skiprows=1,
    low_memory=False,
    usecols=valid_columns
)

# Splitting the DataFrame
df_pais_total = df_pais.iloc[1:102]  # Rows 2 to 104
df_pais_hombres = df_pais.iloc[106:207]     # Rows 107 to 209
df_pais_mujeres = df_pais.iloc[211:312]     # Rows 212 to 324

# Saving to separate Parquet files
df_pais_total.to_parquet('./ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos_TOTAL.parquet', compression='snappy')
df_pais_hombres.to_parquet('./ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos_HOMBRES.parquet', compression='snappy')
df_pais_mujeres.to_parquet('./ine_estimaciones-y-proyecciones-de-población-1992-2050_base-2017_base-de-datos_MUJERES.parquet', compression='snappy')

In [62]:
df_both_genders

,EDAD,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
1,1,306.009,298.152,290.004,285.587,280.412,275.009,269.401,264.300,260.260,...,205.168,204.296,203.627,203.116,202.703,202.335,201.976,201.604,201.203,200.765
2,2,301.156,305.723,297.889,289.758,285.355,280.191,274.803,269.207,264.118,...,206.338,205.242,204.371,203.703,203.192,202.779,202.412,202.054,201.682,201.282
3,3,296.967,300.978,305.550,297.726,289.605,285.210,280.054,274.673,269.085,...,207.752,206.434,205.338,204.468,203.800,203.290,202.877,202.511,202.153,201.780
4,4,281.938,296.842,300.859,305.438,297.625,289.516,285.130,279.983,274.609,...,209.380,207.852,206.533,205.439,204.569,203.901,203.391,202.979,202.612,202.255
5,5,270.805,281.843,296.748,300.772,305.358,297.557,289.459,285.082,279.939,...,211.204,209.479,207.951,206.632,205.538,204.668,204.002,203.491,203.080,202.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,528,558,592,633,672,710,749,794,847,...,15.212,16.263,17.429,18.718,19.930,20.887,22.635,25.183,26.929,28.601
98,98,354,374,397,423,454,485,514,544,579,...,11.999,12.765,13.671,14.676,15.789,16.839,17.676,19.186,21.380,22.897
99,99,231,243,258,276,296,319,342,364,386,...,9.324,9.925,10.579,11.351,12.208,13.158,14.056,14.779,16.068,17.937
100,100+,395,420,446,477,512,553,599,650,703,...,25.969,27.763,29.680,31.736,34.002,36.503,39.265,42.199,45.136,48.526
101,TOTAL,13.737.062,13.956.766,14.171.821,14.381.249,14.584.947,14.782.706,14.974.898,15.162.353,15.343.326,...,21.449.428,21.485.105,21.516.611,21.544.064,21.567.513,21.587.015,21.602.589,21.614.271,21.622.101,21.626.079